.technology {
    width: 100%;
    height: 100%;
    padding: 5.5rem 1.5rem;
    background-image: url(../../assets/technology/background-technology-mobile.jpg);
}

.technology__conteiner {
    height: 100%;
}

.technology__image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin-block: 2rem;
}

.technology__list {
    gap: 1rem;
}

.active__work--technology,
.technology__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: var(--small-font-size);
    transition: all .6s var(--transition);
}

.technology__item {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-second-color);
}

.active__work--technology {
    background: var(--text-second-color);
    border: 1px solid var(--text-second-color);
    color: var(--bg-primary-color);
}

.technology__item:hover {
    border: 1px solid var(--text-second-color);
}

.technology__information {
    margin-top: 1.625rem;
    text-align: center;
}

.technology__information--subtitle,
.technology__information--title {
    font-weight: 400;
    text-transform: uppercase;
}

.technology__information--subtitle {
    font-size: var(--tiny-font-size);
    line-height: var(--tiny-line-height);
    letter-spacing: var(--medium-sm-letter-space);
    margin-bottom: 0.5625rem;
}

.technology__information--title {
    font-size: var(--medium-sm-font-size);
    line-height: var(--small-line-height);
    margin-bottom: 1rem;
}

.technology__information--text {
    font-size: var(--smaller-font-size);
    line-height: var(--smaller-line-height);
    letter-spacing: var(--smaller-letter-space);
}

@media screen and (min-width: 580px) {
    .technology {
        background-image: url(../../assets/technology/background-technology-tablet.jpg);
    }

    .technology__title {
        margin-top: 2.5rem;
    }

    .technology__image {
        margin-block: 3.75rem 3.5rem;
    }

    .active__work--technology,
    .technology__item {
        width: 58px;
        height: 58px;
        font-size: var(--medium-sm-font-size);
    }

    .technology__information--subtitle,
    .technology__information--text {
        font-size: var(--small-font-size);
        margin-bottom: 1rem;
    }

    .technology__information--title {
        font-size: var(--larger-md-font-size);
    }

    .technology__information--text {
        width: 458px;
        line-height: var(--small-line-height);
    }
}

@media screen and (min-width: 913px) {
    .technology {
        background-image: url(../../assets/technology/background-technology-desktop.jpg);
        padding-top: 8rem;
        padding-right: 0;
    }

    .technology__nav {
        width: 20%;
        position: absolute;
        left: 0;
    }

    .technology__list {
        flex-direction: column;
    }

    .technology__title {
        margin-block: 4.75rem 1.625rem;
        padding-left: 3.4375rem;
    }

    .technology__conteiner {
        flex-direction: row-reverse;
    }

    .technology__image {
        width: 40%;
        margin-left: 2rem;
    }

    .technology__information {
        width: 40%;
        text-align: left;
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .active__work--technology,
    .technology__item {
        width: 80px;
        height: 80px;
        font-size: var(--larger-font-size);
    }

    .technology__information {
        margin-inline: 0;
    }

    .technology__image img {
        width: 100%;
        height: 527px;
    }

    .technology__information--title {
        font-size: var(--largerst-font-size);
        margin-block: 1.5rem;
    }

    .technology__information--text {
        font-size: var(--normal-font-size);
        line-height: var(--normal-line-height);
        letter-spacing: var(--normal-sm-letter-space);
    }
}