.crew {
    height: 100%;
    padding: 5.5rem 1.5rem;
    position: relative;
    
}

.crew::before {
    content: "";
    position: absolute;
    inset: 0; /* Define top. bottom, right e left para 0 de uma vez*/
    z-index: 1;
    background-image: url(/assets/crew/background-crew-mobile.jpg);
    opacity: 0.25;
    mix-blend-mode: screen;
}

.crew__container {
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
}

.crew__container,
.crew__image,
.crew__content,
.crew__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crew__image {
    width: 100%;
    height: 222px;
    border-bottom: 1px solid var(--border-color);
}

.crew__image img {
    width: 177px;
}

.crew__content {
    gap: 2rem;
}

.crew__list {
    align-items: center;
    gap: 1rem;
    z-index: 2;
}

.button__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-second-color);
}

.crew__information {
    text-align: center;
}

.crew__information--role {
    font-size: var(--small-font-size);
    letter-spacing: var(--small-letter-space);
    line-height: var(--tiny-line-height);
    opacity: 0.5;
    margin-bottom: .5rem;
}

.crew__information--name {
    font-size: var(--medium-sm-font-size);
    margin-bottom: 1rem;
}

.crew__information--role,
.crew__information--name {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
}


@media screen and (min-width: 580px) {
    .crew {
        padding: 8.5rem 0 0 2.4rem;
    }

    .crew::before {
        background-image: url(/assets/crew/background-crew-tablet.jpg);
    }

    .crew__container {
        gap: 2.5rem;
    }

    .crew__container,
    .crew__content {
        flex-direction: column-reverse;
    }

    .crew__image {
        border: none;
        height: 572px;
        justify-content: flex-end;
    }

    .crew__image img {
        width: 456.37px;
    }

    .crew__container {
        margin-top: 3.75rem;
    }

    .crew__content {
        width: 478px;
    }

    .crew__information--role {
        font-size: var(--medium-sm-font-size);
        line-height: var(--small-line-height);
    }

    .crew__information--name {
        font-size: var(--larger-md-font-size);
    }

    .crew__information--bio {
        letter-spacing: var(--small-letter-space);
    }

    .button__circle {
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (min-width: 913px) {
    .crew {
        height: 900px;
        padding-top: 13.25rem;
        padding-left: 4rem;
        overflow: hidden;
    }

    .crew::before {
        background-image: url(/assets/crew/background-crew-desktop.jpg);
    }

    .crew__container,
    .crew__image {
        align-items: flex-end;
    }


    .crew__container { 
        height: 100%;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 0;
        gap: 5rem;
    }

    .crew__image {
        width: 40%;
        height: 100%;
    }

    .crew__content {
        width: 50%;
        margin-block: 9.625rem 5.875rem;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 7.5rem;
    }

    .crew__list {
        width: 100%;
        justify-content: flex-start;
    }

    .crew__information {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    
}

@media screen and (min-width: 1400px) {
    .crew {
        height: 100%;
        padding-top: 13.25rem;
        padding-left: 10.41rem;
    }

    .crew__container { 
        gap: 0;
    }

    .crew__content {
        width: 50%;
        margin-block: 11rem 5.875rem;
        justify-content: flex-end;
        gap: 7.5rem;
    }

    .crew__information--role {
        font-size: var(--larger-font-size);
        margin-bottom: 1rem;
    }

    .crew__information--name {
        font-size: var(--largerst-font-size);
    }

    .crew__information--bio {
        width: 444px;
        font-size: var(--normal-font-size);
        line-height: var(--normal-line-height);
        letter-spacing: var(--normal-sm-letter-space);
    }
}