/* ================================================= */
/*                   GOOGLE FONTS                    */
/* ================================================= */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


/* ================================================= */
/*                    VARIAVEIS CSS                  */
/* ================================================= */

:root {
    /* ===================== Cores ===================== */
    --bg-primary-color: #0B0D17;
    --bg-nav-color: rgba(255, 255, 255, 0.04);
    --text-primary-color: #D0D6F9;
    --text-second-color: #FFFFFF;
    --outline-primary-color: rgba(255, 255, 255, 0.5);
    --shadow-primary-color: rgba(255, 255, 255, 0.1);

    /* =================== Tipografia ================== */
    --primary-font-family: 'Bellefair', serif;
    --second-font-family: 'Barlow Condensed', sans-serif;

    --biggest-font-size: 9.375rem;
    --bigger-font-size: 6.25rem;
    --big-font-size: 5rem;
    --largerst-font-size: 3.5rem;
    --larger-font-size: 2rem;
    --large-font-size: 1.75rem;
    --medium-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: .9375rem;
    --tiny-font-size: .875rem;

    --large-letter-space: 4.725px;
    --medium-letter-space: 2.7px;
    --normal-letter-space: 2px;
    --small-letter-space: 1.35px;
    --smaller-letter-space: 1.15px;

    --normal-line-height: 2rem;
    --small-line-height: 1.75rem;
    --smaller-line-height: 1.56rem;

    /* ================== Transições ================== */
    --transition: cubic-bezier(0.3, 0, 0.3, 1);
}


/* ================================================= */
/*                    RESET CSS                      */
/* ================================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary-color);
    min-width: 360px;
    margin: auto;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

h1 {
    font-family: var(--primary-font-family);
    color: var(--text-second-color);
}

p {
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    color: var(--text-primary-color);
}

p, h2 {
    font-family: var(--second-font-family);
}

a {
    text-decoration: none;
    color: var(--text-second-color);
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: var(--primary-font-family);
    text-align: center;
    border: none;
}

img {
    max-width: 100%;
}


/* ================================================= */
/*           CLASSES CSS REUTILIZÁVEIS               */
/* ================================================= */

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-circle {
    width: 5rem;
    height: 5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--text-second-color);
    border-radius: 50%;
    opacity: 0.25;
    transition: all .8s var(--transition);
}

.btn-circle:hover {
    background-color: var(--text-second-color);
    opacity: 1;
    color: var(--bg-primary-color);
}